html {
  scroll-padding: 3.142rem;
}

header {
  background-color: #000000;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  border-bottom: 0.143rem solid #ffffff;
}
header p {
  margin: 0.857rem;
}
header a {
  border-bottom: 0.238rem solid #000000;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.19rem;
  margin-right: 1.524rem;
  transition: border 0.5s ease-out;
}
header a:hover {
  border-bottom: 0.238rem solid #ffffff;
  transition: border 0.5s ease-out;
}
header ::selection {
  background-color: #0000;
}
